---
- name: Deploy helm charts
  ansible.builtin.template:
    src: templates/helm-chart.yaml.j2
    dest: "/var/lib/rancher/rke2/server/manifests/{{ item.name }}-helm-chart.yaml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"
  loop: "{{ helm_applications }}"
  when: inventory_hostname == groups['servers'][0]

- name: Deploy ingress routes for apps with ingress enabled
  ansible.builtin.template:
    src: templates/ingress-route.yaml.j2
    dest: "/var/lib/rancher/rke2/server/manifests/{{ item.name }}-ingress-route.yaml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"
  loop: "{{ helm_applications }}"
  when:
    - inventory_hostname == groups['servers'][0]
    - item.ingress is defined
    - item.ingress.enabled | default(false)

- name: Collect all additional manifests
  set_fact:
    all_additional_manifests: "{{ helm_applications | selectattr('additional_manifests', 'defined') | map(attribute='additional_manifests') | flatten | list }}"
  when: inventory_hostname == groups['servers'][0]

- name: Deploy additional manifests
  ansible.builtin.template:
    src: "templates/additional/{{ manifest }}.yaml.j2"
    dest: "/var/lib/rancher/rke2/server/manifests/{{ manifest }}.yaml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"
  loop: "{{ all_additional_manifests | default([]) }}"
  loop_control:
    loop_var: manifest
  when: inventory_hostname == groups['servers'][0]
