- name: Deploy RKE2 coreDNS Configuration
  ansible.builtin.template:
    src: templates/rke2-coredns-config.j2
    dest: /var/lib/rancher/rke2/server/manifests/rke2-coredns-config.yaml
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"
  when: inventory_hostname == groups['servers'][0]

- name: Deploy RKE2 server Configuration
  ansible.builtin.template:
    src: "{{ 'templates/rke2-server-config.j2' if inventory_hostname == groups['servers'][0] else 'templates/rke2-server-config-join.j2' }}"
    dest: /etc/rancher/rke2/config.yaml
    owner: root
    group: root
    mode: "0644"

- name: Create systemd service file for RKE2 servers
  ansible.builtin.template:
    src: templates/rke2-server.service.j2
    dest: /etc/systemd/system/rke2-server.service
    owner: root
    group: root
    mode: "0644"

- name: Ensure RKE2 server is enabled and running
  ansible.builtin.systemd:
    name: rke2-server
    enabled: true
    state: restarted
    daemon_reload: true

- name: Wait for kubectl, part of the rke2 installation
  ansible.builtin.wait_for:
    path: /var/lib/rancher/rke2/bin/kubectl
  when: inventory_hostname == groups['servers'][0]

- name: Copy kubectl to user bin
  ansible.builtin.copy:
    src: /var/lib/rancher/rke2/bin/kubectl
    dest: /usr/local/bin/kubectl
    mode: "0755"
    remote_src: true
  become: true
  when: inventory_hostname == groups['servers'][0]

- name: Ensure .kube directory exists in user's home
  ansible.builtin.file:
    path: "/home/{{ ansible_user }}/.kube"
    state: directory
    mode: "0755"
  become: true
  when: inventory_hostname == groups['servers'][0]

- name: Copy config file to user home directory
  ansible.builtin.copy:
    src: /etc/rancher/rke2/rke2.yaml
    dest: "/home/{{ ansible_user }}/.kube/config"
    remote_src: true
    owner: "{{ ansible_user }}"
    mode: "u=rw,g=,o="
  when: inventory_hostname == groups['servers'][0]

- name: Replace IP address with server1
  ansible.builtin.replace:
    path: /home/{{ ansible_user }}/.kube/config
    regexp: "127.0.0.1"
    replace: "{{ hostvars[groups['servers'][0]]['ansible_host'] }}"
  when: inventory_hostname == groups['servers'][0]

- name: Wait for cluster API to be ready (can take 5-10 mins depending on internet/hardware)
  ansible.builtin.command:
    cmd: "kubectl get nodes"
  register: kubectl_output
  until: "'connection refused' not in kubectl_output.stderr"
  retries: 120
  delay: 10
  changed_when: true
  become_user: "{{ ansible_user }}"
  when: inventory_hostname == groups['servers'][0]
