use flake

export VAULT_ADDR="https://vault.home.phuchoang.sbs"

if vault token lookup >/dev/null 2>&1; then
  echo "Vault session active. Fetching Minio keys..."
  export TF_VAR_vault_addr="$VAULT_ADDR"
  export AWS_ACCESS_KEY_ID=$(vault kv get -field=access_key kv/shared/minio)
  export AWS_SECRET_ACCESS_KEY=$(vault kv get -field=secret_key kv/shared/minio)
else
  echo "Vault session inactive. Run 'vault login' to load AWS keys."
fi
