# Terraform state
*.tfstate
*.tfstate.backup
*.tfplan
.terraform/

# Sensitive files
.env
*.pem
*.key
*.crt
keys/*

# Misc
*.log
*.bak
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# mise / direnv / tools
.mise.toml
.envrc
.venv
debug.yaml

# Ansible environment variables
ansible/inventory/group_vars/all.yaml
ansible/inventory/hosts.ini
