# Terraform state
*.tfstate
*.tfstate.backup
*.tfplan
.terraform/
terraform.tfvars

# Sensitive files
.env
*.pem
*.key
*.crt
keys/*

# Kubernetes credentials from Ansible
ansible/k8s-ca.crt
ansible/sa-token.txt

# Misc
*.log
*.bak
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# mise / direnv / tools
.mise.toml
.venv
debug.yaml
.direnv/
result
result-*
