---
apiVersion: v1
kind: Secret
metadata:
  name: authentik-postgres-credentials
  namespace: authentik
type: kubernetes.io/basic-auth
stringData:
  username: authentik
  password: "{{ authentik_db_password }}"
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: authentik-postgres
  namespace: authentik
spec:
  instances: 1
  imageName: ghcr.io/cloudnative-pg/postgresql:16.4

  bootstrap:
    initdb:
      database: authentik
      owner: authentik
      secret:
        name: authentik-postgres-credentials

  managed:
    roles:
      - name: authentik
        login: true
        passwordSecret:
          name: authentik-postgres-credentials

  storage:
    size: 8Gi
    storageClass: longhorn

  monitoring:
    enablePodMonitor: false
