apiVersion: v1
kind: Secret
metadata:
  name: grafana-datasource-victorialogs
  labels:
    grafana_datasource: "1"
stringData:
  victorialogs.yaml: |-
    apiVersion: 1
    datasources:
      - name: VictoriaLogs
        type: victoriametrics-logs-datasource
        uid: victorialogs
        url: http://victoria-logs-single-server:9428
        access: proxy
        isDefault: false
        jsonData:
          maxLines: 1000
