apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  annotations:
    helmcharts.cattle.io/managed-by: helm-controller
  finalizers:
  - wrangler.cattle.io/on-helm-chart-remove
  generation: 1
  name: argo-cd
  namespace: default
spec:
  version: v8.0.9
  chart: argo-cd
  repo: https://argoproj.github.io/argo-helm
  targetNamespace: argo-cd
  createNamespace: true
---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: argo-cd
  namespace: default
spec:
  valuesContent: |-
    configs:
      params:
        server.insecure: true
