---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: argo-cd
  namespace: default
spec:
  valuesContent: |-
    global:
      domain: argocd.{{ ssl_local_domain }}
    configs:
      params:
        server.insecure: true
    server:
      ingress:
        enabled: true
      extraTls:
        - hosts:
          - argocd.{{ ssl_local_domain }}
          secretName: wildcard-tls
