{% set new_vars = {
    'ansible_user': lookup('env', 'TF_VAR_vm_username'),
    'vip': lookup('env', 'vip'),
    'lb_range': lookup('env', 'lb_range')
} %}
{% set merged_vars = existing_group_vars | combine(new_vars, recursive=True) %}

{{ merged_vars | to_nice_yaml }}
