- name: Prepare all nodes & Download RKE2
  hosts: rke2 # servers + agents + longhorn nodes combined
  gather_facts: false
  become: true
  roles:
    - download-rke2

# Bootstrap k8s
- name: Bootstraps the first server
  hosts: servers
  gather_facts: true
  roles:
    - prepare-rke2

- name: Add additional RKE2 Servers
  hosts: servers
  gather_facts: true
  roles:
    - add-server

- name: Add additional RKE2 Agents
  hosts: agents
  gather_facts: true
  roles:
    - add-agent

- name: Add additional RKE2 longhorn agents with tags longhorn=true
  hosts: longhorn
  gather_facts: true
  roles:
    - role: add-longhorn
      tags: [longhorn]

# Deploy applications
- name: Deploy Kube VIP
  hosts: servers
  gather_facts: true
  roles:
    - role: apply-kube-vip
      tags: [kube_vip]

- name: Deploy Cert-Manager & Traefik
  hosts: servers
  gather_facts: true
  roles:
    - role: apply-ssl
      tags: [ssl]

- name: Deploy Optional services
  hosts: servers
  gather_facts: true
  roles:
    - role: apply-longhorn
      tags: [longhorn]
    - role: apply-argocd
      tags: [argocd]
