- name: Prepare all nodes & Download RKE2
  hosts: rke2 # servers + agents + longhorn nodes combined
  gather_facts: true
  roles:
    - download_rke2

# Bootstrap k8s
- name: Bootstrap RKE2 Servers
  hosts: servers
  gather_facts: true
  roles:
    - add_server

- name: Add additional RKE2 agents & longhorn agents
  hosts: agents, longhorn
  gather_facts: true
  roles:
    - add_agent

# Deploy applications
- name: Deploy Kube VIP
  hosts: servers
  gather_facts: true
  run_once: true
  roles:
    - role: apply_kube_vip
      tags: [kube_vip]

- name: Deploy Cert-Manager & Traefik
  hosts: servers
  gather_facts: true
  run_once: true
  roles:
    - role: apply_ssl
      tags: [ssl]

- name: Deploy Optional services
  hosts: servers
  gather_facts: true
  run_once: true
  roles:
    - role: apply_longhorn
      tags: [longhorn]
    - role: apply_argocd
      tags: [argocd]
