- name: Prepare all nodes & Download RKE2
  hosts: rke2 # servers + agents + longhorn nodes combined
  gather_facts: false
  become: true
  roles:
    - download-rke2

- name: Deploy Kube VIP
  hosts: servers
  gather_facts: true
  roles:
    - role: apply-kube-vip
      tags: [kube_vip]

# bootstraps the first server, copies configs to nodes, saves token to use later
- name: Prepare RKE2 on Servers
  hosts: servers
  gather_facts: true
  roles:
    - prepare-rke2

# Adds additional servers using the token from the previous task
- name: Add additional RKE2 Servers
  hosts: servers
  gather_facts: true
  roles:
    - add-server

# Adds agents to the cluster
- name: Add additional RKE2 Agents
  hosts: agents
  gather_facts: true
  roles:
    - add-agent

# Adds longhorn agents to the cluster with tags longhorn=true
- name: Add additional RKE2 longhorn
  hosts: longhorn
  gather_facts: true
  roles:
    - role: add-longhorn
      tags: [longhorn]

- name: Apply Cert-Manager & Traefik manifests
  hosts: servers
  gather_facts: true
  roles:
    - role: apply-ssl
      tags: [ssl]

- name: Deploy Optional services
  hosts: servers
  gather_facts: true
  roles:
    - role: apply-longhorn
      tags: [longhorn]
    - role: apply-argocd
      tags: [argocd]
