apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  annotations:
    helmcharts.cattle.io/managed-by: helm-controller
  finalizers:
  - wrangler.cattle.io/on-helm-chart-remove
  generation: 1
  name: traefik
  namespace: default
spec:
  chart: traefik
  repo: https://traefik.github.io/charts
  targetNamespace: traefik
  createNamespace: true
---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: default
spec:
  valuesContent: |-
    service:
      type: LoadBalancer
      spec: 
        loadBalancerIP: {{ vip_ingress_ip }}
    tlsStore:
      default:
        defaultCertificate:
          secretName: wildcard-tls
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`traefik.{{ ssl_local_domain }}`)
        entryPoints: ["websecure"]
    ports:
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wildcard-cert
  namespace: traefik
spec:
  secretName: wildcard-tls
  dnsNames:
    - "{{ ssl_local_domain }}"
    - "*.{{ ssl_local_domain }}"
  issuerRef:
    name: cloudflare-clusterissuer
    kind: ClusterIssuer
  privateKey:
    rotationPolicy: Always
