apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  annotations:
    helmcharts.cattle.io/managed-by: helm-controller
  finalizers:
  - wrangler.cattle.io/on-helm-chart-remove
  generation: 1
  name: cert-manager
  namespace: default
spec:
  version: v1.17.2
  chart: cert-manager
  repo: https://charts.jetstack.io
  failurePolicy: abort
  targetNamespace: cert-manager
  createNamespace: true
  set:
    crds.enabled: "true"
    extraArgs[0]: "--dns01-recursive-nameservers-only"
    extraArgs[1]: "--dns01-recursive-nameservers=1.1.1.1:53"
