name: Configure Infrastructure

on:
  workflow_run:
    workflows:
      - "Terraform Plan and Apply"
    types:
      - completed

jobs:
  ansible-bootstrap:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    defaults:
      run:
        shell: bash
        working-directory: ./ansible

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Connect to Tailscale
        uses: tailscale/github-action@v2
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: Authenticate Vault
        uses: hashicorp/vault-action@v2
        with:
          url: ${{ vars.VAULT_ADDR }}
          token: ${{ secrets.VAULT_TOKEN }}
          secrets: |
            kv/${{vars.ENV_NAME}}/data/cloudflare * | SSL_ ;
            kv/${{vars.ENV_NAME}}/data/ip * | IP_ ;
            kv/${{vars.ENV_NAME}}/data/rke2 * | RKE2_ ;

      - name: Generate and Sign SSH Key
        run: |
          # Generate a fresh SSH keypair locally (no passphrase)
          ssh-keygen -t rsa -b 4096 -f ./runner_key -q -N ""

          # Send ONLY the Public Key to Vault for signing
          # matches your command: uses @ to read file, writes output to -cert.pub
          vault write -field=signed_key ssh-client-signer/sign/github-runner \
            public_key=@./runner_key.pub > runner_key-cert.pub

          # Set strict permissions (SSH is picky!)
          chmod 600 runner_key
          chmod 644 runner_key-cert.pub

      - name: Generate Ansible Inventory
        run: |
          ../scripts/generate-all-hosts.sh dev
          cat ./inventory/hosts.ini

      - name: Run playbook
        uses: dawidd6/action-ansible-playbook@v5
        env:
          ENV: ${{ vars.ENV_NAME }}
        with:
          directory: ./ansible
          playbook: site.yaml
          key: runner_key
