name: Provision and Bootstrap

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  terraform-plan-apply:
    runs-on: ubuntu-latest
    environment: ${{ vars.ENV_NAME }}

    permissions:
      contents: read # Required to checkout code
      pull-requests: write # Required to post comments on PRs

    defaults:
      run:
        shell: bash
        working-directory: ./terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Connect to Tailscale
        uses: tailscale/github-action@v2
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Import Secrets from Vault
        id: import-secrets
        uses: hashicorp/vault-action@v2
        with:
          url: ${{ vars.VAULT_ADDR }}
          token: ${{ secrets.VAULT_TOKEN }}
          secrets: kv/${{vars.ENV_NAME}}/data/minio *

      - name: Create Terraform Backend Configuration
        run: |
          echo '${{ toJson(steps.import-secrets.outputs) }}' > secrets.json
          jq '.endpoints = {s3: .endpoints}' secrets.json > secrets.json.tmp && mv secrets.json.tmp secrets.json
          cat secrets.json

      - name: Terraform Init
        run: terraform init -reconfigure -backend-config=secrets.json

      - name: Terraform Plan
        env:
          TF_VAR_env: ${{ vars.ENV_NAME }}
          VAULT_ADDR: ${{ vars.VAULT_ADDR }}
          VAULT_TOKEN: ${{ secrets.VAULT_TOKEN }}
        run: terraform plan -var-file="env/${{ vars.ENV_NAME }}/main.tfvars" -out .planfile

      - name: Post PR comment
        uses: borchero/terraform-plan-comment@v2
        if: github.event_name == 'pull_request' # Only comment on PRs
        with:
          token: ${{ github.token }}
          working-directory: "./terraform"
          planfile: .planfile

      - name: Terraform Apply
        if: github.ref == 'refs/heads/master' && github.event_name == 'push'
        env:
          TF_VAR_env: ${{ vars.ENV_NAME }}
          VAULT_ADDR: ${{ vars.VAULT_ADDR }}
          VAULT_TOKEN: ${{ secrets.VAULT_TOKEN }}
        run: terraform apply -auto-approve .planfile

  ansible-bootstrap:
    runs-on: ubuntu-latest
    needs: terraform-plan-apply
    if: github.ref == 'refs/heads/master' && github.event_name == 'push'
    environment: ${{ vars.ENV_NAME }}

    defaults:
      run:
        shell: bash
        working-directory: ./ansible

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Connect to Tailscale
        uses: tailscale/github-action@v2
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: Authenticate Vault
        uses: hashicorp/vault-action@v2
        with:
          url: ${{ vars.VAULT_ADDR }}
          token: ${{ secrets.VAULT_TOKEN }}
          secrets: |
            kv/${{vars.ENV_NAME}}/data/cloudflare * | SSL_ ;
            kv/${{vars.ENV_NAME}}/data/ip * | IP_ ;
            kv/${{vars.ENV_NAME}}/data/rke2 * | RKE2_ ;

      - uses: eLco/setup-vault@v1
        with:
          vault_version: 1.21.0

      - name: Generate and Sign SSH Key
        env:
          VAULT_ADDR: ${{ vars.VAULT_ADDR }}
          VAULT_TOKEN: ${{ secrets.VAULT_TOKEN }}
        run: |
          # Generate a fresh SSH keypair locally (no passphrase)
          ssh-keygen -t rsa -b 4096 -f ./runner_key -q -N ""

          # Send ONLY the Public Key to Vault for signing
          # matches your command: uses @ to read file, writes output to -cert.pub
          vault write -field=signed_key ssh-client-signer/sign/github-runner \
            public_key=@./runner_key.pub \
            valid_principals=ubuntu > runner_key-cert.pub

          # Set strict permissions (SSH is picky!)
          chmod 600 runner_key
          chmod 644 runner_key-cert.pub

      - name: Generate Ansible Inventory
        run: |
          ../scripts/generate-all-hosts.sh dev
          cat ./inventory/hosts.ini

      - name: Run playbook
        uses: dawidd6/action-ansible-playbook@v5
        env:
          ENV: ${{ vars.ENV_NAME }}
        with:
          directory: ./ansible
          playbook: site.yaml
          key: runner_key
