name: Provision and Bootstrap

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  terraform-plan-apply:
    runs-on: ubuntu-latest
    needs: lint

    permissions:
      contents: read # Required to checkout code
      id-token: write # Required to authenticate
      pull-requests: write # Required to post comments on PRs

    defaults:
      run:
        shell: bash
        working-directory: ./terraform-provision

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Connect to Tailscale
        uses: tailscale/github-action@v2
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Set Vault Role
        id: set-role
        run: |
          if [ "${{ github.event_name }}" == "push" ]; then
            echo "role=${{ vars.ENV_NAME }}-github-actions-push-role" >> $GITHUB_OUTPUT
          else
            echo "role=${{ vars.ENV_NAME }}-github-actions-pr-role" >> $GITHUB_OUTPUT
          fi

      - name: Import Terraform Secrets from Vault
        uses: hashicorp/vault-action@v3
        with:
          method: jwt
          url: ${{ vars.VAULT_ADDR }}
          role: ${{ steps.set-role.outputs.role }}
          secrets: |
            kv/shared/data/minio access_key | AWS_ACCESS_KEY_ID ;
            kv/shared/data/minio secret_key | AWS_SECRET_ACCESS_KEY ;
            kv/${{ vars.ENV_NAME }}/data/ssh_ca_public_key public_key | TF_VAR_proxmox_ssh_public_key

      - name: Import Multiple Proxmox Creds from Vault
        uses: hashicorp/vault-action@v3
        with:
          method: jwt
          url: ${{ vars.VAULT_ADDR }}
          role: ${{ steps.set-role.outputs.role }}
          secrets: |
            kv/shared/data/proxmox ** | TF_VAR_proxmox_ ;

      - name: Terraform Init (Provision)
        run: terraform init --backend-config="key=${{ vars.ENV_NAME }}.tfstate"

      - name: Terraform Plan (Provision)
        env:
          TF_VAR_env: ${{ vars.ENV_NAME }}
        run: |
          # Check if Destroy mode is enabled
          PLAN_ARGS=""
          if [ "${{ vars.DESTROY }}" == "true" ]; then
            PLAN_ARGS="-destroy"
          fi

          terraform plan $PLAN_ARGS -var-file="env/${{ vars.ENV_NAME }}/main.tfvars" -out .planfile

      - name: Post PR comment (Provision)
        uses: borchero/terraform-plan-comment@v2
        if: github.event_name == 'pull_request' # Only comment on PRs
        with:
          token: ${{ github.token }}
          working-directory: "./terraform-provision"
          planfile: .planfile

      - name: Terraform Apply (Provision)
        # if: github.ref == 'refs/heads/master' && github.event_name == 'push'
        working-directory: ./terraform-provision
        env:
          TF_VAR_env: ${{ vars.ENV_NAME }}
        run: terraform apply -auto-approve .planfile

  ansible-bootstrap:
    runs-on: ubuntu-latest
    needs: terraform-plan-apply
    # Only run if on master, is a push, AND destroy mode is NOT enabled
    # if: github.ref == 'refs/heads/master' && github.event_name == 'push' && vars.DESTROY != 'true'

    permissions:
      contents: read # Required to checkout code
      id-token: write # Required to authenticate

    defaults:
      run:
        shell: bash
        working-directory: ./ansible

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Connect to Tailscale
        uses: tailscale/github-action@v2
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: Set Vault Role
        id: set-role
        run: |
          if [ "${{ github.event_name }}" == "push" ]; then
            echo "role=${{ vars.ENV_NAME }}-github-actions-push-role" >> $GITHUB_OUTPUT
          else
            echo "role=${{ vars.ENV_NAME }}-github-actions-pr-role" >> $GITHUB_OUTPUT
          fi

      - name: Import Secrets from Vault
        uses: hashicorp/vault-action@v3
        id: vault_auth
        with:
          method: jwt
          url: ${{ vars.VAULT_ADDR }}
          role: ${{ steps.set-role.outputs.role }}
          outputToken: true
          secrets: |
            kv/shared/data/cloudflare * | SSL_ ;
            kv/${{vars.ENV_NAME}}/data/ip * | IP_ ;
            kv/${{vars.ENV_NAME}}/data/rke2 * | RKE2_ ;
            kv/${{vars.ENV_NAME}}/data/oidc * | OIDC_ ;

      - uses: eLco/setup-vault@v1
        with:
          vault_version: 1.21.0

      - name: Generate and Sign SSH Key
        env:
          VAULT_ADDR: ${{ vars.VAULT_ADDR }}
          VAULT_TOKEN: ${{ steps.vault_auth.outputs.vault_token }}
        run: |
          # Generate a fresh SSH keypair locally (no passphrase)
          ssh-keygen -t rsa -b 4096 -f ./runner_key -q -N ""

          # Send the Public Key to Vault for signing
          vault write -field=signed_key ${{vars.ENV_NAME}}-ssh-client-signer/sign/github-runner \
            public_key=@./runner_key.pub \
            valid_principals=ubuntu > runner_key-cert.pub

          # Set strict permissions
          chmod 600 runner_key
          chmod 644 runner_key-cert.pub

      - name: Generate Ansible Inventory
        run: |
          ../scripts/generate-all-hosts.sh ${{ vars.ENV_NAME }}
          cat ./inventory/hosts.ini

      - name: Install Ansible
        shell: bash
        run: |
          sudo apt update
          sudo apt install -y ansible

      - name: Install Ansible collections
        run: ansible-galaxy install -r requirements.yml

      - name: Run playbook
        env:
          OIDC_ISSUER_URL: ${{ vars.VAULT_ADDR }}/v1/identity/oidc/provider/${{ vars.ENV_NAME }}
          VAULT_ADDR: ${{ vars.VAULT_ADDR }}
        run: ansible-playbook -e "env=${{ vars.ENV_NAME }}" --private-key runner_key site.yaml
