name: Provision and Bootstrap

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  terraform-plan-apply:
    runs-on: ubuntu-latest

    permissions:
      contents: read # Required to checkout code
      id-token: write # Required to authenticate
      pull-requests: write # Required to post comments on PRs

    defaults:
      run:
        shell: bash
        working-directory: ./terraform-provision

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Connect to Tailscale
        uses: tailscale/github-action@v2
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Set Vault Role
        id: set-role
        run: |
          if [ "${{ github.event_name }}" == "push" ]; then
            echo "role=${{ vars.ENV_NAME }}-github-actions-push-role" >> $GITHUB_OUTPUT
          else
            echo "role=${{ vars.ENV_NAME }}-github-actions-pr-role" >> $GITHUB_OUTPUT
          fi

      - name: Troubleshooting
        env:
          VAULT_URL: ${{ vars.VAULT_ADDR }}
          VAULT_AUTH_PATH: github-oidc
          VAULT_ROLE: ${{ steps.set-role.outputs.role }}
        run: |
          curl -sSL -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL" | \
          jq "{ jwt: .value, role: \"$VAULT_ROLE\" }" > ./token.json
            
          echo 'GitHub Actions Token Claims'
          cat ./token.json | jq -r '.jwt | split(".") | .[1] | @base64d' | jq

          echo 'Vault Login Response'
          curl -sSLf -X POST -H "Content-Type: application/json" --data @token.json $VAULT_URL/v1/auth/$VAULT_AUTH_PATH/login

          rm ./token.json

      - name: Import Secrets from Vault
        id: import-secrets
        uses: hashicorp/vault-action@v2
        with:
          url: ${{ vars.VAULT_ADDR }}
          role: ${{ steps.set-role.outputs.role }}
          method: jwt
          secrets: |
            kv/shared/data/minio access_key | AWS_ACCESS_KEY_ID ;
            kv/shared/data/minio secret_key | AWS_SECRET_ACCESS_KEY ;
            kv/shared/data/proxmox ** | TF_VAR_proxmox_ ;
            kv/${{ vars.ENV_NAME }}/data/ssh_ca_public_key public_key | TF_VAR_proxmox_ssh_public_key

      - name: Terraform Init
        run: terraform init --backend-config="key=${{ vars.ENV_NAME }}.tfstate"

      - name: Terraform Plan
        env:
          TF_VAR_env: ${{ vars.ENV_NAME }}
        run: |
          # Check if Destroy mode is enabled
          PLAN_ARGS=""
          if [ "${{ vars.DESTROY }}" == "true" ]; then
            PLAN_ARGS="-destroy"
          fi

          terraform plan $PLAN_ARGS -var-file="env/${{ vars.ENV_NAME }}/main.tfvars" -out .planfile

      - name: Post PR comment
        uses: borchero/terraform-plan-comment@v2
        if: github.event_name == 'pull_request' # Only comment on PRs
        with:
          token: ${{ github.token }}
          working-directory: "./terraform"
          planfile: .planfile

      - name: Terraform Apply
        if: github.ref == 'refs/heads/master' && github.event_name == 'push'
        env:
          TF_VAR_env: ${{ vars.ENV_NAME }}
        run: terraform apply -auto-approve .planfile

  ansible-bootstrap:
    runs-on: ubuntu-latest
    needs: terraform-plan-apply
    # Only run if on master, is a push, AND destroy mode is NOT enabled
    if: github.ref == 'refs/heads/master' && github.event_name == 'push' && vars.DESTROY != 'true'

    defaults:
      run:
        shell: bash
        working-directory: ./ansible

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Connect to Tailscale
        uses: tailscale/github-action@v2
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: Authenticate Vault
        uses: hashicorp/vault-action@v2
        with:
          url: ${{ vars.VAULT_ADDR }}
          token: ${{ secrets.VAULT_TOKEN }}
          secrets: |
            kv/${{vars.ENV_NAME}}/data/cloudflare * | SSL_ ;
            kv/${{vars.ENV_NAME}}/data/ip * | IP_ ;
            kv/${{vars.ENV_NAME}}/data/rke2 * | RKE2_ ;

      - uses: eLco/setup-vault@v1
        with:
          vault_version: 1.21.0

      - name: Generate and Sign SSH Key
        env:
          VAULT_ADDR: ${{ vars.VAULT_ADDR }}
          VAULT_TOKEN: ${{ secrets.VAULT_TOKEN }}
        run: |
          # Generate a fresh SSH keypair locally (no passphrase)
          ssh-keygen -t rsa -b 4096 -f ./runner_key -q -N ""

          # Send the Public Key to Vault for signing
          vault write -field=signed_key ${{vars.ENV_NAME}}_ssh_client_signer/sign/github-runner \
            public_key=@./runner_key.pub > runner_key-cert.pub

          # Set strict permissions
          chmod 600 runner_key
          chmod 644 runner_key-cert.pub

      - name: Generate Ansible Inventory
        run: |
          ../scripts/generate-all-hosts.sh ${{ vars.ENV_NAME }}
          cat ./inventory/hosts.ini

      - name: Install Ansible
        shell: bash
        run: |
          sudo apt update
          sudo apt install -y ansible

      - name: Install Ansible collections
        run: ansible-galaxy install -r requirements.yml

      - name: Run playbook
        env:
          ENV: ${{ vars.ENV_NAME }}
        run: ansible-playbook --private-key runner_key site.yaml
