name: Terraform plan

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  terraform-plan:
    name: "Terraform Plan"
    runs-on: ubuntu-latest

    permissions:
      contents: read # Required to checkout code
      pull-requests: write # Required to post comments on PRs

    defaults:
      run:
        shell: bash
        working-directory: ./terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Connect to Tailscale
        uses: tailscale/github-action@v2
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.6

      - name: Import Secrets from Vault
        id: import-secrets
        uses: hashicorp/vault-action@v2
        with:
          url: ${{ vars.VAULT_ADDR }}
          token: ${{ secrets.VAULT_TOKEN }}
          secrets: |
            kv/${{vars.ENV_NAME}}/data/minio *

      - name: Create Terraform Backend Configuration
        run: |
          echo '${{ toJson(steps.import-secrets.outputs) }}' > secrets.json
          jq '.endpoints = {s3: .endpoints}' secrets.json > secrets.json.tmp && mv secrets.json.tmp secrets.json
          cat secrets.json

      - name: Terraform Init
        id: init
        run: terraform init -reconfigure -backend-config=secrets.json

      - name: Terraform Plan
        id: plan
        env:
          TF_VAR_env: ${{ vars.ENV_NAME }}
          VAULT_ADDR: ${{ vars.VAULT_ADDR }}
          VAULT_TOKEN: ${{ secrets.VAULT_TOKEN }}
        run: terraform plan -no-color -var-file="env/${{ vars.ENV_NAME }}/main.tfvars" -out .planfile

      - name: Post PR comment
        uses: borchero/terraform-plan-comment@v2
        with:
          token: ${{ github.token }}
          planfile: .planfile
          working-directory: "./terraform"
